################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/src/XsdTool/.vs
/src/XsdTool/bin/Debug
/src/XsdTool/obj
/src/XsdTool.Presentation.Core/bin/Debug
/src/XsdTool.Presentation.Core/obj
/src/XsdTool.Presentation/bin/Debug
/src/XsdTool.Presentation/obj
/src/XsdTool.Shared/bin/Debug
/src/XsdTool.Shared/obj
