################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/src/XsdTool/.vs
/src/XsdTool/bin/Debug
/src/XsdTool/obj
